body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    }
    
    h2{
        color: #39bbe2;
        font-family: arial;
    }
    h1{
        color: #39bbe2;
        font-family: arial;
        font-weight: bold;
        font-size: 20px;
    }
    
    .container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 350px;
    height: 350px;
    text-align: center;
    }
    

    .container h2 {
    margin-bottom: 20px;
    }
    
    
    .container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    }
    
    
    button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #27a3c9;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    }
    
    
    button:hover {
    background: #39bbe2;
    }

    .senha{
        display: block;
        text-align: center;
        margin: 5px 5px 10px 0;
        font-size: 13px;
        color: #39bbe2;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }
    
    .senha:hover{
        text-decoration: underline;
    }

    footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px;
    text-align: center;
    background: #fff;
    color: gray;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    } 