@charset "utf-8";
body{
    color: #333333;
    font-family:'Lucida Sans', 'Lucida Grande', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}

h1{
    background-image: url(../imagens/logo.png);
    padding: 10px;
    
}

h2{
    border-bottom: 2PX solid #333333;
    margin-top: 30px;
}

p{
    padding: 0 45px;
    text-indent: 15px;
}

figure{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
    
}

figcaption{
    font-style: italic;
}

img{
    width: 650px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    text-align: center;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
 